.home-items p{
    margin-top: 0;
    margin-bottom: 0;
}
.home-items{
    padding: 8px 12px 8px 12px;
    border-radius: .75rem;
    border: 1px solid hsla(0,0%,100%,.2);
    box-sizing: border-box;
}
.home-items:hover{
    background-color: rgba(64,65,79);
}
.home-item-1{
    color: rgba(197,197,210);
    font-weight: 600;
    opacity: 1;
}
.home-item-2{
    opacity: .5px;
    color: gray;
    font-weight: 500;
    font-size: .9rem;
}