#home{
    background-color: rgba(52,53,65);
    color: white;
}
.someToggle{
    width: 100vmax;
        height: 100vh;
}
@media(max-width:780px){
    #home{
        width: 100vmin;
        height: 100vh;
    }
    #tgbutton2{
        display: none;
    }
}
#home h1{
    display: inline;
}
.toggleButton2{
    display: inline;
    padding: 10px 13px 11px 13px;
    color: white;
    border-radius: .275rem;
    background-color: transparent;
    margin-left: 8px;
    position: relative!important;
    top: 1.1rem!important;
    z-index: 100;
}
.toggleButtonSVG2{
    position: relative;
    top: 2.2px;
}
.toggleButton2:hover{
    background-color: rgba(64,65,79);
    opacity: 1;
}
.invincible{
    display: none;
}

.home-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home-bar p{
    margin-top: 0;
    margin-bottom: 0;
    
}
.new-chat{
    color:#d4d4d4;
}
.plus *{
    margin-right: .5rem;
}
.home-ham-but{
    display: inline;
    padding: .5rem;
}
.home-ham-but *:hover{
    color:white;
}
#home hr{
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid hsla(0,0%,100%,.2);
}
@media(min-width:780px){
    #home-main-bar{
display: none!important;
    }
}

/* .helloo{
    z-index: 100;
    background-color: aquamarine;
    display: inline;
    height: 100vh;
} */