.nav-bottom{
    display:block;
    padding:10px 45px 10px 10px;
    text-decoration: none;
    color: inherit;
    border-radius: 5px;
    
}
.nav-bottom:hover{
    background-color: rgba(52,53,65);
}
.bottom-txt{
    display: inline;
    max-height: 1rem;
    padding-left:10px
}
.vert-nav-img{
    display: inline;
    position: relative;
    bottom: 1px;
}
.bottom-content{
    position: absolute;
    bottom: 7px;
    z-index: 2;
    background-color: rgba(32,33,35);
    color: white;
}
.nav-bar-hr{
   border: 0.1px solid hsla(0,0%,100%,.2);
   margin-top:0px ;
   margin-bottom: 11px;
}
.nav-bottom-2{
    padding-top: .95rem;
    padding-bottom: .95rem;
}
.nav-bottom-1 p.bottom-txt{
    position: relative!important;
    bottom: 2.5px;
}